/after_transmit_0.png
/after_transmit_0_abs.png
/after_transmit_0_phase.png
/after_transmit_1.png
/after_transmit_2.png
/after_transmit_3.png
/after_transmit_4.png
/after_transmit_5.png
/pot_projected.png
/pot_slice_0.png
/pot_slice_0_abs.png
/pot_slice_0_phase.png
/pot_slice_1.png
/pot_slice_2.png
/pot_slice_3.png
/pot_slice_4.png
/pot_slice_5.png
/probe_wave_abs.png
/probe_wave_phase.png
/python/test/probe_wave.png
/wave.png
/wave_0.png
/wave_1.png
/wave_2.png
/wave_3.png
/wave_4.png
/wave_5.png
# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Python files
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
/.project


# Visual studio project files
*.ilk
*.sdf
*.opensdf
*unsuccessfulbuild
*.vcproj
*.vcxproj
*.vcproj.*
*.vcxproj.*
*.vcproj.*.*
*.vcxproj.*.*
*.sln
*.ncb
*.suo
*.obj
*.dep
*.manifest
*.manifest.*
BuildLog.htm
*.idb
*.pdb
*.lib
*.tlog
*.log
*.lastbuildstate
*.cache
*codeanalysis*
*.exp

# binaries
/bin

# build-generated CMake garbage
/CMakeFiles
*/CMakeFiles
*.cmake
CMakeCache.txt
generate.stamp*


# test files
CTest*


# img results from debug testing
*.img
# but include the ones from any testing directory
#    these are for the unit tests.
!/tests/data/*.img
test_bin/Release
stem3/debug_data/STO_4x4/_0.cfg
tests/data/test.img
tests/data/mulswav.img
tests/data/SrTiO3_test_write_1.cfg
